* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding: 20px;
}
.wrapper {
  display: flex;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* sidebar */

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
}
.my-photo {
  width: 370px;
}
.about-me-container {
  padding-top: 110px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-left: 90px;
}
.contact-container {
  margin-top: 60px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
}
.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #7e848e;
}
.contacts-link-type {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}
.tech-skills-container {
  margin-top: 55px;
  margin-right: 40px;
  margin-bottom: 55px;
  margin-left: 40px;
}
.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.tech-skills-text {
  color: #dbdddf;
}
.soft-skills-container {
  margin-right: 40px;
  margin-bottom: 55px;
  margin-left: 40px;
}
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-skills-text {
  color: #dbdddf;
}

/* text content */

.about-me-main {
  margin-bottom: 60px;
}
.front-end-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}
.main-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: #000;
  margin-bottom: 25px;
}
.about-me-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #7b7b7b;
  width: 413px;
}
.project-container {
  margin-bottom: 50px;
}
.project-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 12px;
}
.project-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #404040;
  margin-left: 15px;
}
.project-text {
  color: #959595;
}
.work-experience-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}
.company-item {
  margin-bottom: 20px;
}
.company-title-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 15px;
}
.data-item {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #c9c9c9;
  margin-bottom: 10px;
}
.color-item {
  color: #ff7010;
}
.company-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8f8f8f;
  width: 535px;
}
.education-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}
.national-university-title {
  margin-bottom: 15px;
}
.management-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 15px;
}
.dots {
  font-weight: 100;
}
